<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#login-panel" class="mdl-tabs__tab is-active">Login</a>
      <a href="#registo-panel" class="mdl-tabs__tab">Registo</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="login-panel">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--8-col">
        <form [formGroup]="userLogin" (ngSubmit)="login()">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="inputUsername" placeholder="Username" formControlName="username">
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="inputPassword" placeholder="Password" formControlName="password">
          </div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
        </form>
      </div>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="registo-panel">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--8-col">
        <form [formGroup]="userRegisto" (ngSubmit)="signUp()">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="inputUsername" placeholder="Username" formControlName="username" pattern="-?[A-Z,a-z,0-9,\-,_]*(\.[0-9]+)?">
            <span class="mdl-textfield__error">Não pode conter espaços</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="inputPassword" placeholder="Password" formControlName="password">
            <span class="mdl-textfield__error">Password tem de ser maior que 5 caracteres</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="inputFirstName" placeholder="Primeiro Nome" formControlName="firstName" pattern="[A-Z,a-z]*">
            <span class="mdl-textfield__error">Só pode conter caracteres</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="inputLastName" placeholder="Ultimo Nome" formControlName="lastName" pattern="[A-Z,a-z]*">
            <span class="mdl-textfield__error">Só pode conter caracteres</span>
          </div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Registar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="mdl-js-snackbar mdl-snackbar" [class.mdl-snackbar--active]="alert">
  <div class="mdl-snackbar__text">
    {{error}}
  </div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
