.mdl-cell--8-col {
  margin: auto;
}

.mdl-cell .mdl-textfield,  button.action {
  width: 100%;
}

button.action {
  border-radius: 100px;
  box-shadow: none;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
  display: none;
}

.mdl-textfield {
  padding: 10px 0;
}

.mdl-textfield__input {
  border: 1px solid rgb(208, 208, 208);
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 100px;
}

.mdl-textfield__label {
    left: 20px;
    top: 19px;
}

.mdl-textfield__error {
    margin-top: 0;
    margin-left: 10px;
}

.mdl-js-snackbar {
  z-index: 10001;
}

.dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #f9f9f9;
}

.dialog.dialog--active {
  display: block;
}

.dialog .action {
  width: 90%;
  margin: 30px auto;
  display: block;
}

.dialog .back {
  display: block;
  cursor: pointer;
  width: 90%;
  margin: 20px auto;
  font-size: 24px;
}

.mdl-card {
  width: 90%;
  margin: 20px auto;
  min-height: initial;
  border-radius: 0 0 10px 10px;
  border-color: #ecf0f1;
  border-top: 5px solid #ecf0f1;
}

.mdl-card__title {
  border-bottom: 1px solid #ecf0f1;
}

.mdl-card__title-text {
  color: #39393a;
  font-weight: 700;
  font-size: 20px;
}

.mdl-card__supporting-text {
  padding: 20px 16px;
  font-weight: 400;
  color: rgb(99, 99, 99);
  line-height: 20px;
}

.mdl-button{
  background: rgba(31, 30, 30, 0.2);
}

.mdl-button.active {
  background-color: #3498db;
}

.mdl-button {
  color: #fff;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11000;
  background-color: rgba(0, 0, 0, 0.55);
}

.loading--active {
  display: block;
}
