.mdl-cell--8-col {
  margin: auto;
}

.mdl-cell .mdl-textfield, .mdl-cell button {
  width: 100%;
}

.mdl-cell button {
  border-radius: 100px;
  box-shadow: none;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
  display: none;
}

.mdl-textfield {
  padding: 10px 0;
}

.mdl-textfield__input {
  border: 1px solid rgb(208, 208, 208);
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 100px;
}

.mdl-textfield__label {
    left: 20px;
    top: 19px;
}
